# ========================
# 🔧 NODE & DEPENDENCIES
# ========================
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ========================
# 🧪 TESTING
# ========================
coverage/

# ========================
# ⚙️ NEXT.JS BUILD
# ========================
.next/
out/
dist/              # TS compiled scripts
build/             # eventuali altre build personalizzate

# ========================
# 🌍 DEPLOY / HOSTING
# ========================
.vercel/           # Configurazione Vercel
.netlify/          # Configurazione Netlify CLI (build, settings)
.netlify.toml      # Se vuoi ignorarlo, ma spesso è utile committarlo



# ========================
# 💻 MISC
# ========================
.DS_Store
*.pem
*.log
*.tsbuildinfo
next-env.d.ts
*.tgz               # pacchetti locali creati da yarn pack o npm pack

# ========================
# 🔐 ENV FILES
# ========================
.env
.env.*
!.env.example      # ok da tenere se serve come template

# ========================
# 🗂️ VARI CUSTOM
# ========================
project-tree.txt
